body{
    background-color: #6c757d;
    font-family: 'Montserrat', sans-serif;
}

section.intro{
    background-color: #6c757d;
}

h1{
    color: #dee2e6;
    font-size: 4rem;
    font-weight: 600;
}

h2{
    color: #dee2e6;
    font-size: 2.5rem;
    font-weight: 600;
}

h3{
    color: #dee2e6;
}

h4{
    color: #212529;
}

h4.projTitle{
    color: #dee2e6;
}

ul{
    list-style-type: none;
}

li{
    color: #dee2e6;
}

p{
    color: #dee2e6;
}

p.lead{
    font-weight: 400;
}

p.small{
    color: #fca311;
}

p.projDesc{
    color: #dee2e6
}

footer{
    background-color: #343a40;
}

span[name="initials"]{
    color: #fca311;
}

img{
    width: 100%;
}

.btn-outline-light{
    color: #fca311;
    border-color: #dee2e6;
}

.btn-outline-light:hover{
    transition: background-color 0.4s ease;
    background-color: #fca311;
}

.card{
    background-color: #495057;
    color: #dee2e6;
}

.list-group-item{
    background-color: transparent;
    color: #dee2e6;
}

.skills{
    height: 250px;
}

.projects{
    background-color: #495057;
}

.fab{
    font-size: 3em;
    color: #dee2e6;
}

.far{
    font-size: 3em;
    color: #dee2e6;
}

.contactIcon:hover{
    transition: color 0.4s ease;
    color: #fca311;
}

#contact{
    color: #fca311;
    font-weight: 600;
}

