body{
    background-color: #1d3557;
    font-family: 'Montserrat', sans-serif;
}

section.intro{
    background-color: #1d3557;
}

section.projects{
    background-color: #192e4b;
}

h1{
    color: #f1faee;
    font-size: 4rem;
    font-weight: 600;
}

h2{
    color: #a8dadc;
    font-size: 2.5rem;
    font-weight: 600;
}

h3{
    color: #f1faee;
}

h4{
    color: #f1faee;
}

h4.projTitle{
    color: #f1faee;
}

ul{
    list-style-type: none;
}

li{
    color: #f1faee;
}

p{
    color: #f1faee;
}

p.lead{
    font-weight: 400;
}

p.small{
    color: #e63946;
}

p.projDesc{
    color: #f1faee
}

span[name="initials"]{
    color: #e63946;
}

img{
    width: 100%;
}

.btn-outline-light{
    color: #e63946;
    border-color: #457b9d;
}

.btn-outline-light:hover{
    transition: background-color 0.4s ease;
    background-color: #e63946;
    border-color: #457b9d;
}

.card{
    border-color: #457b9d;
    background-color: transparent;
    /* color: #f1faee; */
}

.introCard{
    background-color: transparent;
    border-color: transparent;
}

.list-group-item{
    background-color: transparent;
    color: #f1faee;
}

.skills{
    height: 250px;
}

.fab{
    font-size: 3em;
    color: #457b9d;
}

.far{
    font-size: 3em;
    color: #457b9d;
}

.contactIcon:hover{
    transition: color 0.4s ease;
    color: #e63946;
}

#contact{
    color: #a8dadc;
    font-weight: 600;
}

.binoculars{
    color: #a8dadc;
}
